@import "tailwindcss";

:root {
  --background: #0F1012;
  --foreground: #ffffff;
  --primary: #8CE0F4;
}

@theme {
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F1012;
    --foreground: #ffffff;
    --primary: #8CE0F4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif !important;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@keyframes scroll-wheel {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

.animate-scroll-wheel {
  animation: scroll-wheel 1.5s infinite;
}

@keyframes pulse-slow {

  0%,
  100% {
    opacity: 0.5;
    transform: scale(1);
  }

  50% {
    opacity: 0.8;
    transform: scale(1.1);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 8s infinite ease-in-out;
}